@font-face{
  font-family: CaviarDreams;
  src: url(CaviarDreams-webfont.woff);
}
@font-face{
  font-family: CaviarDreams;
  src: url(Caviar_Dreams_Bold-webfont.woff);
  font-weight: bold;
}
body {
  background: white;
  color: black;
  font-family: CaviarDreams, Optima, Helvetica;
  margin: 0px;
  scroll-behavior: smooth;
}
/*Navbar*/
.nav-list{
  margin-top: 0%;
  background: white;
  margin: 0;
  padding: 1rem 0;
  border-radius: var(--radius);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
}
.nav-item{
  list-style: none;
  margin-right: 2rem;
}
.nav-item a{
  text-decoration: none;
  color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 20%;
  color: #bfaa8c;
  display: flex;
  transform: translate(-20%, -50%);
}
.centered h1{
  font-size: 80px;
}
/*About Me*/
.flex-container{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #E8DED1;
}
.flexed-item {
  flex-basis: 50%;
  margin: 10px;
  padding: 10px;
  width: 50%;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
}
.aboutD{
  background-color: #D5B895;
  border-radius: 20px ;
  padding: 10px;
}
.contactCard{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  height:300px;
}
.contact{
  flex-basis:40%;
  background-color: #D5B895;
  border-radius: 20px;
  margin-top:15px;
  font-size:15px;
  margin:10px;
  text-align: center;
  padding: 30px;
  line-height: 30px;
  height: 200px;
  color:white;
  width:200px;
}
.contactSpace{
  flex-basis:20%;
}
.flexed-item h6{
  margin: 10px;
  font-size: 28px;
  font-weight: bold;
  text-align: justify;
}
ul{
  margin:10px;
  padding:5px;
  font-size: 20px;
  text-align: left;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: #bfaa8c;
}
/*Resume*/
.flex-container1{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: white;
}
.flexed-item1 {
  flex-basis: 50%;
  margin: 20px;
  padding: 10px;
  width: 50%;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  background-color:#BFAA8C;
  border-radius: 20px;
  box-shadow: 10px 10px 1px #E8DED1;
}
.title{
  margin: 10px;
  font-size: 30px;
}
.school{
  margin: 10px;
  font-size: 20px;
  line-height: 20px;
}
.degree{
  margin: 10px;
  font-size: 20px;
}
.flexed-item1 h6{
  margin: 10px;
  font-size: 14px;
}
.resumeData{
  margin:15px;
  font-size: 14px;
}
.card {
  position: relative;
  height: 200px;
  width: 100%;
  margin-bottom:10px;
  background-color:#D5B895;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color:white;
}

.job {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: grey;
  opacity: 0;
  background-color: #E8DED1;
  border-radius: 20px;
  visibility: hidden;
  display: flex;
  position: absolute;
  align-items: center; 
  justify-content: center;
  transition: opacity .3s, visibility .3s;
  pointer-event: auto;
}
.card:hover .job {
  visibility: visible;
  opacity: 0.9;
}
.job:hover {
  opacity: 1;
}
.description {
  color: grey;
  transition: .3s;
  text-align: center;
  margin:15px;
}

.description:hover {
  opacity: 1;
}
.description h4{
  font-size: 20px;
}
.description p{
  font-size: 14px;
}
.skills1{
  flex-basis:20%;
}
.skills{
  flex-basis:40%;
  background-color: #E8DED1;
  border-radius: 20px;
  margin-top:15px;
  font-size:15px;
  margin:10px;
  text-align: center;
  padding: 30px;
  line-height: 30px;
  box-shadow: 10px 10px 1px #BFAA8C;
  height: 250px;
  color:#BFAA8C;
  width:400px;
}
.flex-container2{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.skills ul{
  font-size:15px;
  margin-top: 5px;
}
.skills h2{
  font-size: 18px;
  margin: 5px;
}
.container {
  position: relative;
  margin:10px;
  border-radius: 25px;
}
.roundPic{
  border-radius: 10%;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #BFAA8C;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  border-radius: 10%;
}

.container:hover .overlay {
  width: 100%;
}
/*Projects*/
.flex-container3{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #E8DED1;
}
.text {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-align: center;
}
.textLink{
  font-weight: bold;
  font-size: 15px;
}
.textLink:hover{
  color:#E8DED1;
  font-weight:bold;
}
.projects{
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: white;
  padding-top: 20px;
}
#projects{
  background-color: #E8DED1;
  margin-top: 20px;
}

/*Recommendations*/
.flex-container4{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: white;
  height:300px;
}
.flexed-item4{
  flex-basis:40%;
  background-color: #BFAA8C;
  border-radius: 20px;
  margin-top:15px;
  font-size:15px;
  margin:10px;
  text-align: center;
  padding: 30px;
  line-height: 30px;
  box-shadow: 10px 10px 1px #E8DED1;
  height: 300px;
  color:white;
  width:600px;
}
.flex-item4{
  flex-basis:20%;
}
.recs:hover{
  color:#E8DED1;
}
.dropdown {
  left: 100%;
  top: 0%;
  margin-left: 0.125rem;
}

.dropdown-item {
  display: none;
  position: absolute;
  width: 270px;
  height: 60px;
  background-color: white;
  color:#BFAA8C;
  font-size: 16px;
  opacity: 1;
  border-radius: 10px;
  padding: 5px;

}
.dropdown-item a {
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
  border-bottom:1px solid white;
}

.dropdown:hover .dropdown-item, .dropdown:active {
  display: block;
}
.recDrop{
  font-size: 24px;
}

@media (max-width: 800px) {
  .nav-list{
    font-size: 15px;
  }
  .centered h1{
    font-size: 40px;
  }
  .centered{
    top: 30%;
    left: 20%;
  }
  .flex-container{
    flex-wrap: wrap;
  }
  .flex-container1{
    flex-wrap: wrap;
  }
  .flex-container2{
    flex-wrap: wrap;
  }
  .flexed-item {
    flex-basis: 44%;
    padding: 5px;
    width: 100%;
    margin: 10px 0px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
} 
  .flexed-item h6{
    font-size: 20px;
  }
  ul{
    font-size: 20px;
  }
  .flexed-item1 {
    padding: 5px;
    width: 100%;
    margin: 10px 0px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
  .description:hover{
    font-size: 12px;
  }
  .skills{
    font-size:10px;
    flex-basis: 44%;
    padding: 5px;
    width: 100%;
    margin: 10px 0px;
    text-align: center;
  }
  .skills ul{
    font-size:15px;
    flex-basis: 50%;
    line-height: 25px;
  }
  .skills h2{
    flex-basis: 50%;
  }
  .container{
    flex-basis: 44%;
    padding: 5px;
    width: 100%;
    margin: 10px 0px;
    text-align: center;
  }
  .recs{
    font-size:15px;
  }
}
@media (max-width: 1200px) {
  .flex-container3{
    flex-wrap: wrap;
  }
} 
